<a href="https://colab.research.google.com/github/hemant-sherla/CRTprogram/blob/master/3_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
![text]

# insert image
![text](https://i.udemycdn.com/course/750x422/1817082_cf8a_9.jpg)

# insert site
.[site](https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj8kYnp0pjmAhXWT30KHdEjDysQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fpython-beginner-to-advanced-with-web-scraping-projects%2F&psig=AOvVaw2WimdqRq7SEbDPgw6R3U1X&ust=1575433913958645)

1. abc
2. ghi
    1. a
    2. b
3. hij
   A. c
   b. d

### symbols of unordered list



- jd
- jyt

In [0]:
print("hello world")

hello world

In [0]:
# variable creation
a= 10
b= 20
a+b

30

In [0]:
name = "GITAM"
print("university"+name)

universityGITAM

In [0]:
name = input("enter name")
age = int(input("enter age"))
print("my name is ",name,"and my age is ",age)

enter namehemant
enter age20
my name is  hemant and my age is  20

# take two inputs and do arthematic operations
## add,sub,multiplications,divide

In [0]:
a= int(input("enter a="))
b= int(input("enter b="))
c=a+b
d=a-b
e=a*b
f=a/b
print("sum= ",c)
print("difference= ",d)
print("product=",e)
print("divide=",f)

enter a=10
enter b=10
sum=  20
difference=  0
product= 100
divide= 1.0

# data types
## int
## float
## complex
## bolean
## string

In [0]:
a=10
b=10.50
c=5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c= complex(3,5)
print(c)

(3+5j)

In [0]:
c1=3+5j
c2=6+6j
print(c1+c2)
print(c1-c1)
print(c1*c2)
print(c1/c2)

(9+11j)
0j
(-12+48j)
(0.6666666666666666+0.16666666666666666j)

## boolean

In [0]:
a=10
b=20
a>b

False

In [0]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [0]:
s1="100"
print(type(s1))
a = int(s1)
print(type(a))
f=1.25
a1=int(f)
print(type(a1))

<class 'str'>
<class 'int'>
<class 'int'>

In [0]:
a=1234
print(len(str(a)))

4

## operators
1. arithematic operators---->+,-,*,%,//,**
2. logical operators-----> and,or
rational operators------>

In [0]:
n1=22
n2=21
print(n1//n2)
print(n1**n2)

1
15519448971100888972574851072

In [0]:
# relational operator
print(n1==n2)
print(n1!=n2)
print(n1>n2)
print(n1<n2)

False
True
True
False

In [0]:
# logical operator
n1=20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

In [0]:
a= input( "enter the value of a")
b= input("enter the value of b")
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

enter the value of a10
enter the value of b20
False
True
False
True
True
False

# problems on membership operators
## in-true if the values found in sequence 
## notin-true if the value not found in sequence

In [0]:
f=[1,2,3.4]
print(1 in f)
print(5 in f)
print(6 not in f)

True
False
True

# conditional statements
1. if
2. else
3. elif
# syntax
#### if conditions:
> statements<br>
####else
> statements

In [0]:
n = int(input("enter a number"))
if n%2 == 0:
  print("even")
else:
  print("odd")

enter a number10
even

# multiple of 3 and 5

In [0]:
n= int(input("enter a number"))
if n%3 == 0 or n%5 == 0:
  print("multiple of 3 and 5")
else:
  print("not a multiple of 3 and 5")

enter a number15
multiple of 3 and 5

In [0]:
n= int(input("enter a number"))
if n>0:
  print("positive")
elif n<0:
  print("negative")
else:
  print("0")

enter a number0
0

In [0]:
n = int(input("enter a year"))
if n%400==0 or (n%100!=0 and n%4==0):
  print("leap year")
else:
  print("not a leap year")

enter a year2019
not a leap year

In [0]:
n= int(input("enter a value"))
i=1
while i<=n:
  print(i,end="  ")
  i=i+1

enter a value10
1  2  3  4  5  6  7  8  9  10

In [0]:
n= int(input("enter a number"))
i=1
s=0
while i<=n:
  if i%2==0:
    s=s+i
  i=i+1
print(s)

enter a number10
30